{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DétailleTrain</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'trains/css/détailleTrain.css' %}">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="container">
            <div class="addTrain-box">
            <h2>Add trains</h2>
            <form action="" method="post">{% csrf_token %}  
                {% comment %} <input type="text" class="field" palceholder="Id" name="Id"> {% endcomment %}
                <input type="text" class="field" palceholder="Destination" name="destination">
                <input type="text" class="field" palceholder="Horaire" name="datetime">
                <input type="text" class="field" palceholder="durée" name="duration">
                <input type="text" class="field" palceholder="company" name="company">
                <input type="text" class="field" palceholder="image" name="image">
                <input type="text" class="field" palceholder="description" name="description">
                <input type="text" class="field" palceholder="plan" name="plan">
                <button type="submit" class="btn" >Add Train</button>

            </form>
            </div>
        </div>
    </main>
</body>
</html>

