html body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;

}

/* card */

.content-card {
    display: flex;
    flex-direction: column;
    margin-left: 33%;
    margin-top: 10px;

}

.card,
a {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-around; */
    border: 1px solid #e0e0e0;

    max-width: 700px;
    min-height: 10vh;

    text-decoration: none;
}


.horaire {

    max-width: 5vw;
    width: 100%;
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;

}



.info {

    max-width: 30vw;
    width: 100%;
    position: relative;
    left: 79px;
    top: 25px;
}

.info .destination {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.info .train {

    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.duree {

    max-width: 5vw;
    width: 100%;
    line-height: 29px;
    font-size: 36px;
    font-weight: 600;
}

.horaire,
.duree,
.arrow {

    display: flex;
    justify-content: center;
    align-items: center;


}



/* .card h2 {
    min-width: 50px;
}

.card .destination {
    min-width: 18.229vw;
}

.card .horaire {
    min-width: 100px;
}

.card .horaire, h2, .destination {
    font-size: 1.5rem;
    text-align: center;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 500;


}
*/