.content-card {
    display: flex;
    flex-direction: column;

}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 5.5vh;
    border: 1px solid #e0e0e0;
    max-width: 700px;
}

.card h2 {
    min-width: 50px;
}

.card .destination {
    min-width: 18.229vw;
}

.card .horaire {
    min-width: 100px;
}

.card .horaire, h2, .destination {
    font-size: 1.5rem;
    text-align: center;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 500;


}